@{
    ViewBag.Title = "Про нас";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>@Html.ActionLink("Інтернет-магазин", "Index", "Home", new { area = "" }) <b>"Пір"їнка"</b> - 
    це невеличке, але затишне місце, де Ви зможете знайти собі 
    усе, що стосується товарів для міцного і приємного сну. У нашому інтернет-магазині, Ви 
    знайдете подушки, матраци, наматрацники, наволочки, перини, ковдри, пледи, рушники
    і багато чудових речей, які зроблять Ваш сон і відпочинок легкими, як пір"їнка.</h4>
