@{
    ViewBag.Title = "Контактна інформація";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    УКРАЇНА<br />
    м. Рівне<br />
    вул. Буковинська, 5<br />
    33027<br />
    <abbr title="Контактний телефон">№:</abbr>
    0686219539
</address>

<address>
    <strong>Технічна пітримка:</strong>   <a href="mailto:taras.kurylovych@gmail.com">taras.kurylovych@gmail.com</a><br />
    <strong>Просування і маркетинг:</strong> <a href="mailto:taras32@ukr.net">taras32@ukr.net</a>
</address>