
@{
    ViewBag.Title = "Доставка та оплата";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Доставка</h3>

<p>
    Терміни доставки залежать від обраного способу доставки та місця Вашого проживання.
    Ми поважаємо час кожного нашого клієнта, тому намагаємося максимально швидко відправити всі
    відправлення (при наявності товару на складі замовлення відправляються в той же або на
    наступний день з моменту оформлення замовлення - виняток становлять вихідні та святкові дні).
</p>
<p>
    <p>Ви платите за доставку при отриманні товару (накладений платіж).</p>
    <p>Інформацію про тарифи і швидкість доставки товару можна ознайомитися нижче:</p>   

    <ul>
        <li><a href="https://novaposhta.ua" target="_blank">+ Нова Пошта </a></li>       
        <li><a href="https://ukrposhta.ua/" target="_blank">+ Укрпошта</a></li>
        <li><a href="https://meest-express.com.ua" target="_blank">+ Міст Експрес</a></li>
        <li><a href="https://www.delivery-auto.com.ua/" target="_blank">+ Делівері</a></li>
    </ul>
    <br />

<h3>Оплата</h3>
    <p>Накладений платіж при отриманні замовлення.</p>
    <p>Можливий також безготівковий розрахунок (узгоджується з менеджером при підтвердженні замовлення).</p>




