
@{
    ViewBag.Title = "Безкоштовна доставка товарів по Україні";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>УВАГА!!! До кінця року у нашому @Html.ActionLink("Інтернет-магазині", "Index", "Home", new { area = "" }) діє наступна акція:</h4>
<h4>Усім покупцям, які зробили замовлення в період дії акції на суму <b>500</b> гривень і більше -</h4>
<h4>доставка товарів по Україні перевізником "Нова Пошта" - абсолютно безкоштовна!</h4>
    <img src="~/images/home/free-delivery.jpg" class="girl img-responsive" alt="" />




