
@{
    ViewBag.Title = "Як обміняти, чи повернути товар, що не підійшов";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Протягом 14 днів від дати отримання посилки, ви зв'язуєтеся з одним з менеджерів магазину за телефонами:
<p>+38 068 6219539.</p>

<p>Виберіть на сайті товар, який слід вислати на заміну, і оформіть нове замовлення. Необхідно вкласти в упаковку з поверненням записку, із зазначенням товару на який слід замінити даний. Це пришвидшить нам роботу і процедуру обміну товару.</p>

Як тільки повернення буде отримано, наш співробітник зв'яжеться з Вами для узгодження деталей обміну.

Якщо Ви хочете не обміняти, а повернути товар, отримавши назад його вартість

Будь ласка, зберігайте чек про оплату післяплати і упаковку протягом гарантійного терміну експлуатації.

Перш ніж здійснити повернення грошей наші менеджери переконаються, що це саме той товар, який ми Вам відправляли і чи немає дефектів, пов'язаних з експлуатацією Вами. Просимо поставитися з розумінням.

Якщо у Вас виникли питання щодо умов і порядку повернення і обміну зателефонуйте по одному з телефонних номерів, вказаних на сторінці "Контакти". Вам нададуть всю потрібну інформацію.

Ми впевнені, що Ви залишитеся задоволені нашою продукцією. Вдалих покупок!

