
@{
    ViewBag.Title = "Обмін та повернення";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Будь-який постачальник послуг доставки вантажів по Україні який використовує послугу "Накладений платіж" надає можливість ознайомитися з товаром, перевірити його якість, чи підходить Вам саме цей товар, до його оплати, а також до оплати послуг постачальника доставки. Тільки після того як ви переконалися, що товар Вам повністю підходять Ви, може оплатити "Накладений платіж" послуги з доставки грошей і доставка товару вам.

Якщо Ви вже сплатили товар, але з яких-небудь причин, зрозуміли, що замовлений товар Вам не підходить, не поспішайте засмучуватися, замовлення можна повернути або обміняти.</p> 
<p>Відповідно до закону «Про захист прав споживачів» протягом 14 днів від дати покупки (в нашому випадку від дня отримання посилки) Ви можете повернути нам продукт і отримати назад сплачені гроші. Також, можливий обмін на інший розмір, колір або іншу модель.

Повернення, приймаються тільки в первинному вигляді, тобто при відсутності слідів експлуатації.</p> 

<p>У разі обміну або повернення, клієнт оплачує доставку товарів самостійно. Якщо клієнт вирішив не обмінювати товар, а повернути гроші, йому повертають тільки вартість товару, вартість доставки; не повертається!</p>

<p>Якщо причиною повернення послужила помилка працівників магазину, клієнтові повертають повну вартість замовлення, так само, магазин оплачує зворотну пересилку товару. Під помилкою магазину мається на увазі:</p>

<p>вислана не та модель (артикул);</p>
<p>висланий не той розмір (артикул), що зазначений в замовленні;</p>

<p>не відповідає колір моделі;</p>

<p>надіслана явно бракована модель.</p>


