@{
    ViewBag.Title = "Оплата частинами від Приватбанку";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>УВАГА!!! У нашому @Html.ActionLink("Інтернет-магазині", "Index", "Home", new { area = "" }) діє акція від Приватбанка.</h4>
<h4>Отримайте розстрочку до 24 платежів за програмою "Оплата частинами." Навіщо платити відразу, коли можна зекономити.</h4>
<img src="~/images/home/oplata.jpg" class="girl img-responsive" alt="" />

