
@{
    ViewBag.Title = "Замовлення підтверджене";
}

<h2>Дякуємо Вам за довіру до нашого магазину! </h2>
<h3>Ваше замовлення підтверджене і направлене в обробку.</h3> <br />
<h3>Очікуйте дзвінка від нашого менеджера.</h3>


