
@{
    ViewBag.Title = "2 роки гарантії на матраси";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>УВАГА!!! Усім покупцям у нашому @Html.ActionLink("Інтернет-магазині", "Index", "Home", new { area = "" }) ми даємо додатковий рік гарантії на всі матраси.</h4>
<h4>Незалежно від ціни матрасу, кожен, хто його придбає - отримає 2 роки повноцінної гарантії. Поспішайте порадувати себе та рідних.</h4>
<img src="~/images/home/warranty.jpg" class="girl img-responsive" alt="" />