
@{
    ViewBag.Title = "Як замовити";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Інформація, як створити та оформити нове замовлення на сайті.</h2>

<h3>Ми пропонуємо кілька способів як здійснити замовлення:</h3>
<br/>
<h4>Традиційно за допомогою кошика.</h4> 
<p>Ви можете оформити замовлення на сайті, вибравши товари в кошик. Протягом 1-2х днів, за вказаною при реєстрації телефону, Вам передзвонить менеджер магазину для підтвердження замовлення.</p> 
<p>Замовлення не оформляються без ПІБ, повної адреси доставки і номера телефону. Переконайтеся, що ці дані вказані вірно.</p><br/>

<h4>У телефонному режимі.</h4> Дзвінки приймаються за телефоном: +38 068 6219539.<br/>
<br/>
<h4>Відправивши повідомлення на нашу адресу електронної пошти taras.kurylovych@gmail.com.</h4>
<p>Для замовлення по телефону і по електронній пошті необхідно повідомити такі дані: код бажаного продукту, кількість і ціну товару, ПІБ, повну адресу доставки, номер телефону.</p>


