@model Diplom_WebSite_Taras.Models.CartSummaryViewModel

<ul class="nav navbar-nav navbar-right">

     <li> @Html.ActionLink("Мій Кошик: " + @Html.DisplayFor(modelItem => modelItem.NumberOfItems) + " позицій(ї) " +
           HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => modelItem.TotalCost).ToString()), "Index", "Cart")
    </li>
</ul>